<h1 id="">Your Pragmatic Catalog</h1>
<% if @counter > 5  %>
        You visit this page <%=pluralize @counter, 'time' %>.
<% end  %>
<% for product in @products  %>
        <div class="entry">
                <% form_remote_tag :url => {:action => 'add_to_cart', :id => product} do  -%>
                        <%= image_submit_tag(product.image_url) -%>
                <% end  -%>
                <h3 id=""><%= h product.title %></h3>
                <%= product.description %>
                <div class="price-line">
                        <span class="price"><%= number_to_currency(product.price) %></span>
                        <% form_remote_tag :url => {:action => 'add_to_cart', :id => product} do  %>
                                <%= submit_tag "Add to Cart" %>
                        <% end  %>
                </div>
                <br/>
        </div>

<% end  %>
